body {
    background-color: rgba(0,0,0,.9);
    font-family: "Impact,Charcoal,sans-serif"
}

#page {
    background-color: #ffffff;
    width: 60em;
    margin: auto;
}

header {
    background-color: #b58e41;
    color: #ffffff;
    height: 8em;
    padding-top: .9em;
    padding-left: 5.6em;
    padding-right: 5.6em;
}

#content {
    padding-left: 5.6em;
    padding-right: 5.6em;
    padding-top: .9em;
    padding-bottom: .9em;
    line-height: 1.2em;
}

#img {
    width: 31em;
}

#img p {
    font-style: italic;
    font-size: .75em;
}

footer {
    
    background-color: #b58e41;
    height: 1.5em;
    font-size: .75em;
    padding-top: 1em;
    padding-left: 5.6em;
    padding-right: 5.6em;
}